@casa (min-width: 768px) {
    .casa.html {
        background-image: url('img200.jpg');
        background-repeat: repeat;
        bottom: 0;
        color: blue;
        left: 20;
        overflow: auto;
        padding: 3em;
        position: absolute;
        right: 10;
        text-align: center;
        top: 5;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

@comodos (min-width: 992px) {
    .casa.html {
        background-image: url('img600.jpg');
        background-repeat: no-repeat;
        bottom: 30;
        color: black;
        left: 20;
        overflow: auto;
        padding: 3em;
        position: absolute;
        right: 10;
        text-align: center;
        top: 5;
        background-repeat: repeat;
        background-position: center;
        background-size: cover;
    }
}

@img (min-width: 1200px) {
    .casa.html {
        background-image: url('img1000.jpg');
        background-repeat: no-repeat;
        bottom: 1;
        color: rgb(165, 39, 39);
        left: 5px;
        overflow: auto;
        padding: 3em;
        position: absolute;
        right: 10px;
        text-align: center;
        top: 5px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}